:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
    --font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
}

body {
    font-family: var(--font-family);
    color: var(--grayish-blue);
}

.inner-container {
    margin: 3rem 15rem;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logo {
    margin-top: -10rem;
}

.header {
    margin-bottom: 4rem;
    text-align: center;
}

.title {
    color: var(--dark-grayish-blue);
    font-weight: bold;
    margin-bottom: 1rem;
}

.big-title {
    font-size: 2.5rem;
}

.medium-title {
    font-size: 2rem;
}

.small-title {
    font-size: 1.3rem;
    text-align: left;
    width: 100%;
    margin-bottom: 0.5rem;

}


.text {
    line-height: 1.5;
}

.big-text {
    font-size: 1.2rem;
}

.medium-text {
    font-size: 1rem;
  
}

.small-text {
    text-align: justify;
    font-size: 0.8rem;
    margin-bottom: 3rem;

}


.buttons {
    display: flex;
    margin: 3rem;
    color: white;
}

.button {
    width: 12rem;
    height: 3rem;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
}

.ios {
    margin-right: 1rem;
    background-color: var(--strong-cyan);
}

.mac {
    background-color: var(--light-blue);
}

.computer-content {
    margin: 1rem 6rem 6rem -4rem;
    display: flex;
}



.right-col {
    margin-top: 7rem;
    margin-left: 5rem;
    width: 25vw;
}

.devices-image {
    margin-top: 4rem;
}

.features {
    display: flex;
    justify-content: space-between;
    margin: 4rem 8rem;
}



.brands-images {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
}

.footer {
    display: flex;
    justify-content: space-around;
}

.icons {}