:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
    --font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
}

body {
    font-family: var(--font-family);
    color: var(--grayish-blue);
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

.inner-container {
    margin: 3rem 15rem;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logo {
    margin-top: -15rem;
}

.header {
    margin-bottom: 4rem;
    text-align: center;
}

.title {
    color: var(--dark-grayish-blue);
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.big-title {
    font-size: 2.5rem;
}

.medium-title {
    font-size: 2rem;
}

.small-title {
    font-size: 1.3rem;
    text-align: left;
    width: 100%;
    margin-bottom: 0.5rem;
}

.text {
    line-height: 1.5;
    font-size: 0.8rem;
}

.big-text {
    font-size: 1.2rem;
}

.medium-text {
    font-size: 1rem;
}

.small-text {
    text-align: justify;
    margin-bottom: 3rem;
}

.buttons {
    display: flex;
    margin: 3rem;
    color: white;
}

.button {
    width: 12rem;
    height: 3rem;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
}

.ios {
    margin-right: 1rem;
    background-color: var(--strong-cyan);
}

.mac {
    background-color: var(--light-blue);
}

.computer-content {
    margin: 1rem 6rem 6rem -4rem;
    display: flex;
}

.right-col {
    margin-top: 7rem;
    margin-left: 5rem;
    width: 25vw;
}

.devices-image {
    margin-top: 4rem;
}

.features {
    display: flex;
    justify-content: space-between;
    margin: 4rem 8rem;
}

.features .text {
    width: 24vw;
}

.small-image {
    margin-bottom: 2rem;
    height: 6vh;
}

.brands-images {
    display: flex;
    justify-content: space-between;
    margin: 7rem 8rem 7rem 8rem;
}

.brands-images img {
    width: 11vw;
}

.footer {
    display: flex;
    justify-content: space-around;
    text-align: justify;
    padding-top: 2rem;
    height: 10vh;
    margin-top: 2rem;
    margin-left: 8rem;
    margin-right: 8rem;
}

.footer .logo img {
    width: 4vw;
    margin-bottom: -17rem;
}

.contact div {
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-size: 0.9rem;
}

.icons {
    margin-left: 4rem;
    margin-top: 1rem;
}

.icons img {
    margin-right: 1rem;
}

.bg-footer {
    height: 20vh;
    background-color: hsl(220, 17%, 93%);
}

@media (max-width: 376px) {
    body {
        width: fit-content;
    }
    .logo {
        margin-top: -6rem;
    }
    .logo img {
        width: 30%;
    }
    .big-title {
        font-size: 6.5rem;
    }
    .big-text {
        font-size: 3.5rem;
    }
    .inner-container {
        margin: 8rem 6rem 3rem 6rem;
    }
    .title {
        margin-bottom: 5rem;
    }
    .buttons {
        display: flex;
        flex-direction: column;
        margin-top: 10rem;
    }
    .button {
        width: 60rem;
        height: 10rem;
        margin-bottom: 4rem;
        font-size: 3rem;
        border-radius: 100px;
    }
    .medium-title {
        margin-top: 10rem;
        font-size: 6rem;
    }
    .medium-text {
        font-size: 4rem;
    }
    .computer-content {
        margin: 15rem 0rem 0rem 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .computer-image img {
        width: 60rem;
    }

    .right-col {
      
        margin-left: 0rem;
        width: 80%;
    }

    .small-title {
        font-size: 6rem;
        text-align: center;
        width: 100%;
        margin-bottom: 1rem;
        margin-top: 5rem;
    }

    .small-text {
        text-align: center;
        margin-bottom: 3rem;
        font-size: 3.8rem;
    }
}